// .widget{
//     display: flex;
//     flex-wrap: wrap;
//     padding: 20px;
//     gap: 20px;
    
    
//     .wid1{
//         width: 21.3rem;
//         background-color: #06046F;
//         padding: 10px;
//         box-shadow: 2px 4px 10px 1px rgba(201,201, 201, 0.47);
//         border-radius: 10px;
//         height: 100px;
//     }

//     .wid2{
//         width: 21.3rem;
//         background-color: #1E88E5;
//         padding: 10px;
//         box-shadow: 2px 4px 10px 1px rgba(201,201, 201, 0.47);
//         border-radius: 10px;
//         height: 100px;
//     }

//     .wid3{
//         width: 21.3rem;
//         background-color:#4527A0;
//         padding: 10px;
//         box-shadow: 2px 4px 10px 1px rgba(201,201, 201, 0.47);
//         border-radius: 10px;
//         height: 100px;
//     }

//     .wid4{
//         width: 21.3rem;
//         background-color: #00C853;
//         padding: 10px;
//         box-shadow: 2px 4px 10px 1px rgba(201,201, 201, 0.47);
//         border-radius: 10px;
//         height: 100px;
//     }

//     .wid5{
//         width: 21.3rem;
//         background-color: #D84315;
//         padding: 10px;
//         box-shadow: 2px 4px 10px 1px rgba(201,201, 201, 0.47);
//         border-radius: 10px;
//         height: 100px;
//     }

//     .wid6{
//         width: 21.3rem;
//         background-color: #616161;
//         padding: 10px;
//         box-shadow: 2px 4px 10px 1px rgba(201,201, 201, 0.47);
//         border-radius: 10px;
//         height: 100px;
//     }

//     .icon{
//         color: white;
//         width: 100%;
//         display: flex;
//         justify-content: end;
//         align-items: center;
        
//         .icon1{
//             margin-right: 10px;
//         }
//     }

//     .link{
//         color: white;
//         width: 100%;
//         display: flex;
//         justify-content: end;
//         align-items: center;

//         a{
//             text-decoration: none;
//             color: white;
//             margin-right: 10px;
//             margin-bottom: 10px;
//             display: flex;
//             align-items: center;

//             .icon2{
//                 margin-top: 4px;
//             }
//         }
//     }
    
//     .counter > span{
//         color: white;
//         font-weight: bold;
//         font-size: x-large;
//         margin-left: 10px;
//     }

//     // .info{
//     //     display: flex;
//     //     flex-direction: column;
//     // }

//     .info > span{
//         color: white;
//         margin-left: 10px;
//     }

   

// }